@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500;1,700;1,900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
img, article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-style: italic;
  font-weight: 500;
  font-size: 24px; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.header {
  width: 100%;
  height: 0; }

.footer {
  width: 100%;
  height: 310px;
  background-color: #000000;
  color: #FFFFFF;
  padding: 64px 0;
  font-weight: 500; }
  .footer ul li {
    padding-top: 16px; }

.cont-ctr {
  width: 1200px;
  margin: 0 auto; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

h1 {
  font-size: 80px;
  font-weight: 900;
  font-style: italic;
  color: #FFFFFF; }

h2 {
  font-size: 64px;
  font-style: italic; }

a {
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }
  a:hover {
    color: #891818;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; }

section {
  padding: 56px 0; }

.Cover {
  width: 100%;
  height: 100vh;
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week2/banner.png?raw=true);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .Cover .cover-text {
    width: 320px;
    margin: 0 auto; }
    .Cover .cover-text p {
      color: #FFFFFF;
      font-weight: 700;
      text-align: left;
      padding: 0 10px; }
  .Cover .follow {
    width: 100%;
    margin-top: 30px; }
    .Cover .follow a img {
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s; }
      .Cover .follow a img:hover {
        -webkit-filter: brightness(0.8);
                filter: brightness(0.8);
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s; }
  .Cover .d-flex {
    -ms-flex-pack: distribute;
        justify-content: space-around; }

.About .cont-ctr img {
  margin: 0 auto;
  padding-top: 40px; }

.About .cont-ctr ul {
  margin: 0 auto;
  width: 420px; }

.About .cont-ctr .basic_info {
  border-bottom: 1px solid #000000;
  padding: 20px 0 24px 0; }

.About .cont-ctr .exper li {
  padding-top: 28px;
  font-weight: 700; }
  .About .cont-ctr .exper li:before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #891818;
    display: inline-block;
    margin-right: 16px; }

.MyBrand {
  background-color: #000000; }
  .MyBrand .cont-ctr h2, .MyBrand .cont-ctr h3, .MyBrand .cont-ctr p {
    color: #FFFFFF; }
  .MyBrand .cont-ctr h3 {
    padding-top: 12px; }
  .MyBrand .cont-ctr p {
    font-size: 20px;
    padding-top: 32px; }
  .MyBrand .cont-ctr ul {
    padding-top: 28px;
    margin-bottom: 104px; }
    .MyBrand .cont-ctr ul li {
      padding-top: 40px; }
  .MyBrand .cont-ctr .d-flex {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

.OtherWorks .cont-ctr p {
  font-size: 20px;
  padding-top: 16px; }

.OtherWorks .cont-ctr .d-flex {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.OtherWorks .cont-ctr ul {
  margin: 8px 0 88px 0; }
  .OtherWorks .cont-ctr ul li {
    padding-top: 48px; }
    .OtherWorks .cont-ctr ul li a {
      color: #000000;
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s; }
      .OtherWorks .cont-ctr ul li a:hover {
        cursor: pointer;
        color: #891818;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s; }
        .OtherWorks .cont-ctr ul li a:hover img {
          -webkit-filter: brightness(0.6);
                  filter: brightness(0.6);
          -webkit-transition: 0.4s;
          -o-transition: 0.4s;
          transition: 0.4s; }

/*# sourceMappingURL=all.css.map */
